.loading-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.tree-entry__icon {
  max-height: 30px;
  max-width: 30px;
}

.tree-entry * {
  display: inline-block;
}

.tree-entry__disclosure--closed::before {
  content: "\25b6";
}
.tree-entry__disclosure--opened::before {
  content: "\25BC";
}

.tree {
  list-style: none;
}
